{% extends "personal/header.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>About</h3>
      <p>What is this..? </p>
      <p>This program encourages students to participate in more school activities and build
         school spirit. This program  allows teachers to reward students with good behaviour. 
         Overall, it acts as an incentive for students to more active in the school community. 
         Based on the scoring system, our principal will award the students with the most points 
         Ram of the Month. This prestigious award means a commitment to fulfilling the potential 
         of oneself and maximizing one’s contribution to the community. 
      </p>
    </div>
    <div class="col-sm-4">
      <h3>Student <span class="glyphicon glyphicon-education"> </span> </h3>
      <p>Want to win Ram of the Month..?  </p>
      <p>Whether or not it is participating in a school club to spark your interests 
        and meet new people, or if it is joining a school sports team to get some exercise, 
        this platform awards points to you for being active in the school community. 
        Participating in such clubs and teams provides you different experiences that 
        will help you become a leader. 
    </div>
    <div class="col-sm-4">
      <h3>Teacher <span class="glyphicon glyphicon-user"> </span> </h3>
      <p>Want to reward a student for their good deeds.. ?</p>
      <p>Beyond the classroom, teachers, you can help shape students 
        by giving students incentives to partake in school activities 
        using the rams rewards console. You can also discipline students 
        by eliminating points from students when they misbehave. This console 
        also allows for you to easily access their homeroom, student OEN number, 
        and any additional information that may be useful in your classroom.  
        Simply scan they QR code and you’ll be access all of this data. 
       </p>
    </div>
  </div>
</div>
<div class="container">
    <h2>Points Values</h2>
  <p>List of rewards activities along with their point values.</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Activity</th>
        <th>Frequency</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Club</td>
        <td>Weekly</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Club</td>
        <td>Monthly</td>
        <td>30 </td>
      </tr>
      <tr>
        <td>Competition</td>
        <td>-</td>
        <td>100</td>
      </tr>
      <tr>
        <td>Fundraising Events</td>
        <td>-</td>
        <td>100</td>
      </tr>
      <tr>
        <td>Volunteer</td>
        <td>Every Hour</td>
        <td>10pt/ hour</td>
      </tr>
    </tbody>
  </table>
</div>
{% include "personal/includes/htmlsnippet.html" %}
{% endblock %}